[2016-04-18 01:52] lachellel opened #8 "Need scripts or common tools for identifying all Intermediate certificate authorities and certificates"
I'm trying to collect scripts, government or open source tools for identifying all the intermediate certificate authorities and valid intermediate certificates which chain to Federal Common Policy Certificate Authority (Common).

This is needed for legacy network authentication implementations, and for applications that do not fully implement path discovery or validation protocols (RFC 5280).   We

[2016-04-19 00:29] grandamp commented on #8
Here is a java implementation (as you are aware): https://github.com/grandamp/KSValidationService

The intent was a way to perform SIA discovery in order to discover all fpki intermediates, since the SIA extension is mandatory under the certificate and CRL profile for the Common Policy Root CA.

It is far from an ideal solution, but it exists!

[2016-04-19 02:36] konklone opened #10 "FPKI shouldn't link to download root certificates over plain HTTP"
I know this is not a direct function of the PIV Guide, but I think the PIV Guide should not include official guidance that instructs users to download root or intermediate certificates over plain HTTP.

Right now it links to this URL to download the Federal Common Policy CA root:

http://http.fpki.gov/fcpca/fcpca.crt

Any network-based attacker could include a rule that rewrites this content with

[2016-04-19 02:38] grandamp commented on #10
+1

On Mon, Apr 18, 2016, 22:36 Eric Mill <notifications@github.com> wrote:

[2016-04-19 03:07] lachellel commented on #10
@konklone

I definitely had a bit of a challenge when drafting that particular section.  As all can see in the commits - I also removed making it a live link (that any browsing user would click on and download potentially inadvertently!).

There is no HTTPS endpoint currently available.  Currently there may be one alternate option available I believe (as in **Available Today**):  send an email to

[2016-04-19 03:19] konklone commented on #10
What certificate would be doing the signing in those cases?

[2016-04-19 11:15] weirdscience commented on #10
The email would be signed by PIV card. The thumbprint for the root should be included with the download instructions so the downloaded can check it is the correct cert.

[2016-04-19 11:26] grandamp commented on #10
I'm not certain what value the signature of a PIV credential would
provide.  The trust anchor for PIV *is* the Common Policy Root CA.

If that is an acceptable distribution mechanism, then distribution via the
following would be appropriate too:

https://pki.treasury.gov/crl_certs.htm

On Tue, Apr 19, 2016, 07:15 Ken Myers <notifications@github.com> wrote:

[2016-04-19 13:42] tkpk commented on #10
Please help me understand.  Are we trying to protect for confidentiality or integrity?  AFAIK, HTTPS will only provide for confidentiality, unless you both trust the root (chicken and egg problem) AND use DNSSEC to ensure that you really are connecting to the appropriate domain.  Just putting an SSL cert on a (sub) domain of fpki.gov will not prevent against the original attack, e.g. a network bas

[2016-04-19 15:08] konklone commented on #10
@tkpk Even without DNSSEC, HTTPS will guarantee integrity of the contents in transmission. Bear in mind, I am recommending the FPKI use a non-FPKI (probably commercial) certificate that chains to a root the client will already trust. This way the user can download the FPKI root using an alternate trusted path. A network attacker that used their own untrusted root would cause a client which perform

[2016-04-19 15:35] lachellel commented on #10
Hey giuseppe!

I don't think there is ever a foolproof way to do anything (in my opinion).  So instead of trying to be _foolproof_, I'd like to spend my time on raising the level of awareness across our fellow engineering community and not promoting a particular implementation pattern.  And in this scenario - the pattern is: we should not want to promote having engineers download _anything_ from a

[2016-04-19 16:12] konklone commented on #10
:+1: An example of running `sha1sum` (and/or the Windows equivalent) on the downloaded file would be a help, too.

[2016-04-19 16:23] tkpk commented on #10
For windows, my favorite would be certutil -hashfile filename [algorithm]

On Tue, Apr 19, 2016 at 12:12 PM, Eric Mill <notifications@github.com>
wrote:

[2016-04-26 20:53] twbaldridge commented on #10
First, the download //http.fpki.gov/fcpca/fcpca.crt doesn't comply with M-15-13, it needs the "s".

Second, all PKI objects, certs, crls, etc.,  are signed and maintain their integrity character at rest - it doesn't matter how the PKI object is obtained because before you ever trust it you perform the object integrity checks.

The trust of any PKI object begins with a root in the possession of the

[2016-04-26 21:38] grandamp commented on #10
Hi Tim!

I can't agree with forcing the referenced URI to be compliant with the memo
(specifically HSTS) since the server is _the_ HTTP repository referenced in
Common Policy signed certificates.  I.e.,
https://https.cio.gov/guide/#are-federally-operated-certificate-revocation-services-(crl,-ocsp)-also-required-to-move-to-https
?

On Tue, Apr 26, 2016, 16:53 Tim W. Baldridge notifications@github.c

[2016-04-27 05:00] konklone commented on #10
HSTS only affect user-initiated browsing sessions, and shouldn't affect any OCSP or CRL-fetching client behavior. HTTPS could also be supported, as long as you didn't set up an `http://` -> `https://` redirect, because existing OCSP/CRL clients would keep hitting the `http://` links.

Worth noting, that section also says at the bottom:

Though I do understand that can be a hassle. However, if any

[2016-04-27 05:06] konklone commented on #10
The issue is how the integrity checks are performed. In this case, the user isn't expected to be in possession of the FPKI root, so they would not be able to verify the signature until it's already downloaded, after which it could have been compromised.

However, you could at least do a content check. @lachellel added the SHA-1 hash to the download instructions:

However, then you have to trust th

[2016-04-27 13:18] lachellel opened #16 "Addition of Authentication Mechanism Assurance"
Add the Authentication Mechanism Assurance to the network enablement as an advanced topic:
- http://csrc.nist.gov/groups/SNS/piv/fips_201-2_march_2015/day_two/tim_baldrige_ad_fips201-2_2015.pdf

@twbaldridge has also provided public domain scripts as samples for engineers to use.

[2016-04-27 13:43] lachellel opened #17 "MacOSX and Network Auth"
For MacOSX and _network authentication_ (aka bound to a network domain), NIH has a private repository for a plugin that builds upon the native smart card apis.

- https://github.com/NIH-CIT/NIHAuthPlugin

There are also commercially available options.
Need to add a section under network for MacOSX and considerations.

[2016-04-27 13:58] twbaldridge commented on #10
Thank's to @grandamp and @konklone for the reference to the cio.gov FAQ for the exception language for PKI objects, re: HSTS.

I will point out that the self-signed roots are not included in repository referenced by URIs included in the AIA extension of certificates for the FPKI, as well as almost all of other providers I have ever examined.

For all of the reasons you have cited, it is just not p

[2016-04-27 14:19] lachellel opened #18 "Filtering certs during browser auth"
Add information and scripts that can be applied to filter the certificates presented to a user during browser-based client auth (PIV cert auth).

This is a combination of browser settings and OS settings - dependent upon the CSP (crypto service provider) in use.  The filtering of certificates based on EKU values can help reduce confusion on which certificate to choose.

Need to verify and validate

[2016-04-27 14:24] lachellel commented on #18
@jimwalker53

[2016-04-27 15:29] weirdscience commented on #10
I think it's also an important consideration that someone mention if an agency should verify if commercial SSL meet NIST FISMA standards. This is may be a similar case to 2005 and why Common Policy and the Shared Service Provider program was established. Commercial SSL follow commercial standards which may or may not align with federal security requirements.

[2016-04-27 17:17] lachellel opened #19 "Caching behavior when switching between privileged and non-privileged contexts"
Add configurations and lessons learned regarding the caching behavior and workarounds for:

- Performing "run as" functions to escalate privileges to a privileged account
- one cached credential stored for certificates
- user switches back to normal account after disconnect from network
- locked out because cache is privileged account

Include:

- Cached credentials limit (2 to 5)
- bug reports
-

[2016-04-27 17:45] lachellel opened #20 "Importing intermediate CA certs into NSS"
PIV Auth via browser - specific for managed enterprise devices
- Firefox browsers in use
- NSS needs to be updated using non-manual (no user intervention) methods by enterprise engineers
- Some of the intermediate CAs in the FPKI stop the CA name at OU rather than using a CN
- Do full chains for client (user) provided certificates need to be configured in the client for two-way TLS to succeed?

ce

[2016-04-27 17:49] lachellel opened #21 "Error logging to enable on domains for troubleshooting"
Add information, configurations and scripts for which error logs to enable on network domains for enterprise engineers to troubleshoot.

List of the common errors encountered mapped to primary and secondary _troubleshooting_ specific to federal agencies

[2016-04-27 19:47] lachellel opened #22 "Kerberos ticket lifetimes and "need your current credentials""
FAQ Item

Why do users see the following message?

- _Windows Needs Your Current Credentials_
- _Please Lock this computer, then unlock it using your most recent password or smart card_

This happens when the kerberos ticket lifetime expires and a new authentication event is required. User is set to user based enforcement, which requires a new PKINIT event with the domain controller. Equals = Plea

[2016-04-27 22:25] lachellel opened #23 "Which platforms break when not using principal name?"
We need some feedback here to understand any repercussions with not using Principal Name mapping for network.

Primarily for common implementations and office automation tools (cloud email providers, common federation services).

[2016-04-27 22:36] lachellel opened #24 "OCSP responder configurations"
Major item that keeps reappearing in questions

Hold here for notes and lessons...

[2016-04-27 22:42] lachellel commented on #24
DoD specific - https://blogs.technet.microsoft.com/askpfeplat/2014/01/07/microsoft-pki-ocsp-responder-now-jitc-certified-and-lab-setup-guide/

[2016-04-27 22:50] lachellel opened #25 "Credential locks and email client"
For Outlook:

https://support.microsoft.com/en-us/kb/2829595

Is this still common and needed in an FAQ?

[2016-04-27 23:03] lachellel opened #26 "Logon script that sets friendly name"
- Using a logon script on managed devices to set friendly names for person certs
- Applies to applications and ease of use for users

Need sample scripts

[2016-04-27 23:13] lachellel opened #27 "PIV-Interoperable"
Do we need FAQ on PIV-Interoperable? For any technical differences in USAGE for networks and applications?

This also needs to be updated IMHO:

https://www.idmanagement.gov/IDM/servlet/fileField?entityId=ka0t0000000TNPlAAO&field=File__Body__s

[2016-04-28 11:43] konklone commented on #10
:100:

It's not clear to me that federal security requirements, in a general sense, are any better than the standards to which the CA/B Forum holds commercial CAs. It's also not clear to me that [even the largest commercial CAs operate without risk](https://security.googleblog.com/2015/10/sustaining-digital-certificate-security.html).

But the bigger issue is that from the perspective of serving t

[2016-04-28 14:01] jimwalker53 commented on #18
Here's a doc that my team pulled together addressing this for Windows 7/ Server 2008 R2.   I haven't had time to test this on Chrome or Edge.   I can work on that here in the next couple of days.   I don't have access to Safari/MaxOSX/Windows 10 so we'll have to depend on someone else to provide that info.

Please let me know if there are any questions!

[Enhancing the PIV Authentication Experienc

[2016-04-28 14:30] twbaldridge commented on #10
I suggest avoiding qualifiers of better or worse when it comes to Federal vs. Commercial standards regarding cybersecurity - I believe we can agree that they are different. When we consider international standards and sovereign positions we know that what we must do is to manage risk. It's clear that residual risk will never diminish to zero.

The statement "there is nothing to be gained from limi

[2016-04-28 14:34] lachellel commented on #10
Adore the conversations - and agree with everyone!

Any help on some of the other issues I've opened?  :+1:

[2016-04-28 15:35] lachellel opened #28 "removing master branch"
@konklone @twbaldridge @AllieTbo @maoconnor

I'm going to remove the master branch

staging is set to default

let me know if this will cause any problems with clones.  I checked the forks too...and I want to clean up

[2016-04-28 17:37] #10 closed

[2016-04-29 15:00] konklone commented on #28
:+1:

[2016-04-29 15:03] konklone commented on #10
You're right, I misunderstood your intent -- I didn't realize you were talking about acquisition processes and fairness. Of course, agencies should follow regulations and the spirit of fairness in all acquisitions.

[2016-04-29 15:06] lachellel commented on #28
done

[2016-04-29 15:06] #28 closed, assigned to nobody

[2016-05-27 20:01] lachellel opened #35 "Add the Application integration models"
And patterns (based on assertion models allowed):

Kerberos
SAML
Direct x509 authentication

[2016-06-01 13:46] maoconnor opened #36 "ActivClient for PIV Enablement"
Do you need to use ActivClient for PIV enablement of your Windows network?

Using commercial middleware is not a requirement to PIV enable your network devices, desktop applications, and web applications. More recent versions of Microsoft Windows (7+ and Server 2008R2+) can be configured with Active Directory to support PIV authentication for standard and privileged user accounts.

Link to the /pi

[2016-06-01 13:49] maoconnor opened #37 "PIV enablement of non-Windows systems"
How do I PIV enable non-Windows based operating systems?

Action: Create new pages for OSX, Linux, Unix and common distributions & versions used across the government.

[2016-06-01 13:53] maoconnor opened #38 "Temporary / Interim Access for user with missing PIV"
How do I configure my networked systems to handle the case where my user doesn't have their PIV?
-Privileged access
-Non-privileged access

Should also create configuration guidance should the agency policy allow for this use case.

[2016-06-01 13:56] maoconnor opened #39 "Access for temporary employees / interns"
How do I configure my systems to allow for short-term employees or interns who are not required to have a PIV and require non-privileged access?

Include that these users should not have privileged access.

[2016-06-01 13:58] maoconnor opened #40 "PIV Authentication to Cloud Hosted solutions"
Is PIV authentication required for accessing cloud hosted solutions?
If your agency users are accessing systems with elevated or privileged access rights, regardless of the hosting solution, you would still need to use a 2-factor hardware authenticator.

[2016-06-01 16:40] maoconnor opened #41 "User - Loss of PIV Card"
User FAQ:
Q: What do I do if I lost my PIV card?
A: Contact your agency’s Security Officer if you have lost your credential or believe it has been tampered with. Your current credential will be terminated, and the process for issuing you a new credential will be initiated.

-We may want to add caveats regarding agency specific policies. In theory though, they would take a similar stance on termina

[2016-06-01 16:47] maoconnor opened #42 "User - Forgotten PIV Card"
Q: What do I do if I have misplaced my PIV card but it is recoverable? How do I access the systems required for my job?
A: Contact your agency’s Security Officer if you have temporarily misplace your credential and it is recoverable. Your current credential can be temporarily deactivated and can be reactivated upon recovery. Depending on your agency, their risk assessment process, and your level o

[2016-06-01 16:53] maoconnor opened #43 "Create FAQ Sections"
Overall issue to create FAQ sections for relevant communities:

- General User
- Developer / Implementer
- Policy (Potentially)

Keeping audience in mind when organizing these FAQs should help improve usability over just combining everything together.

[2016-06-02 00:50] lachellel commented on #37
let's break this into individual issues by OS and purpose (privileged user / servers / etc versus general user and network joined workstations versus users and web app authn)

Then we can collect up the scripts and tools to execute (purpose specific)

[2016-06-02 00:52] lachellel commented on #40
need to clarify with the policy references (LOA4)

[2016-06-16 22:44] grandamp opened #45 "Finding paths via HTTP SubjectInfoAccess URI"
This is not intended to be a duplicate of #8, as I need to determine current policy on SIA for all FPKI issuers.

I believe SIA _is_ mandatory under Common, but I am not certain if all affiliates under FBCA assert.

The SubjectInfoAccess (SIA) extension is in _most_ intermediate certificates within the Federal PKI.  This provides a convenient mechanism for scripts/services to discover most interme

[2016-06-16 23:04] lachellel commented on #45
This is definitely an area that we need to write up more on.  It's a very common question (what are the certificates, discovery, etc).  I tried to explain some of this here:
- https://gsa.github.io/piv-guides/pivcertchains/#download-root-and-intermediate-certificates
- piv-guides/pages/certchains.md

But I think 1) I made it too wordy and it needs to be simpler, and 2) I only referenced the AIA ch

[2016-06-16 23:15] grandamp commented on #45
The code I reference in #8 only performs discovery using HTTP SIA, and
retains a separate cache of all URI (intent was to add a Spring timed task
for each URI, using the caching Apache HTTP client, and performing checks
based on each ca cert lifetime/halflife and cache control headers).

Knowing that _others_ maintain AIA/SIA crawling web apps, it would be best
if we could refer to a few _open sou

[2016-06-21 17:48] lachellel opened #46 "enable PIV/CAC for SSH to a Unix-like system"

[2016-06-21 20:04] lachellel opened #47 "Cross reference identifiers and network/account linking"
The table in network/account linking and identifiers should be cross-referenced -

piv-guides/_networkconfig/4_accounts.md
piv-guides/pages/identifiers.md

The choices to use is recommended (network/accounts) but the engineers should know the reasons and what changes (identifiers)

[2016-06-21 20:15] lachellel opened #48 "3072 and 4096 key sizes"
@grandamp

From the intermediates from crawling the Federal PKI - _thru the federal bridge certificate authority_; identified four (4) intermediates with 3072 bit key pairs and five (5) with 4096 bit key pairs.

[code]

Few questions:
- We referenced only 2048 key sizes in passing here:  piv-guides/pages/details.md
- Did not explicitly state end entity or intermediate (should fix?)
- Do we know of

[2016-06-21 22:28] grandamp commented on #48
I am only aware of one library thus far (Entrust Java Toolkit) that has a problem if the key is RSA, and the key size (bits) is _not_ 1024, 2048, or 3096.

I.e., _if_ the toolkit is operating in FIPS validated mode of operation, it will have a problem validating all PKI artifacts (CRL/Cert/OCSP) signed with RSA-4096 bit keys.

[2016-07-06 13:29] lachellel opened #49 "RDP / Terminal Services & "The requested key container does not exist on the smart card.""
Error Message:
_The system could not log you on. The requested key container does not exist on the smart card._

Operating System:
- Windows 10
- Windows 2008R2, Windows 2012R2

Remote Desktop
Only native drivers (Microsoft drivers)
Repeatable (absolutely happens every time)

[2016-07-13 14:42] lachellel opened #50 "Tuning - network"
Placeholder for starting to capture the tuning for network auth.

[2016-07-13 14:44] lachellel commented on #50
Two settings:
- Increase the network retrieval timeout setting on your domain:  https://technet.microsoft.com/en-us/library/cc771429(v=ws.11).aspx
- Increase the OCSP setting from the default of "50" to a higher number
      referenced here under Defining Default Behavior: https://technet.microsoft.com/en-us/library/ee619783(v=ws.10).aspx

[2016-08-24 18:13] GSAllewell commented on #40
Based on M04-04 ([http://www.whitehouse.gov/omb/memoranda/fy04/m04-04.pdf]) doesn't the LOA requirement depend on the user's role?  For standard users, this could be anything from LOA 1 to 4, depending on the potential impact, right?

[2016-08-31 18:18] GSAllewell opened #53 "certutils -scinfo"
Native Windows utility to list certificates available on the smart card
**certutil –scinfo.**

You will be prompted for a PIN for each certificate on the card, but it is not required for this operation. You can press ESC if you are prompted for a PIN.

[2016-09-03 15:52] rt-smithee opened #54 "web page labelling feedback"
IMO it would help readers if the names in the left column exactly matched the major heading of the page that displays when you click the page.  Great info, thanks to the contributors.

[2016-09-03 18:24] rt-smithee opened #55 "suggested correction to page "how to contribute""
On the "How to Contribute" page in the "How to build a new guide" pagagraph the link to "how to piv enable my logon" does not work (get a 404 error, points to http://gsa.github.io/piv-guides/devconfig/15_network/)

IMO the content on the page is clear.  I think I get the point, I'm merely pointing out the 404 issue.

[2016-09-06 16:35] lachellel opened #56 "Linking network accounts using USAccess reports"
Purpose:
- A large portion of agencies need information from the PIV credential certificates (PIV Auth etc) to link the network accounts to the credentials
- Fully automated capabilities are not available or within easy implementation reach for all agencies
- Common question for agencies using USAccess are how to use the existing reports to harvest the information to perform the network account li

[2016-09-06 17:57] lachellel commented on #55
@rt-smithee thanks!

when we update, the PR will link to this issue

working on updating all the How to Contribute pages for this and other related repos in progress (fpki-guides, all the ficam roadmap, ficam-arch).

[2016-09-07 19:34] GSAllewell commented on #46
# How To – PuTTY-CAC – Install, set up, and log on

## Background

_Most Unix-like systems are configured to use the SSH protocol for remote access, but most SSH client applications do not support PIV as required by Federal policy.  PuTTY-CAC, a fork of the Open Source PuTTY SSH client, resolves this issue.
[Van Dyke Secure CRT](https://www.vandyke.com/products/securecrt/index.html), a commercial

[2016-09-07 19:38] lachellel commented on #46
Need to add the notes from NIH on what happens on the server (*nix) side....ala authorized_users mapping

[2016-09-07 19:48] GSAllewell commented on #46
@lachellel : Where can I get that info?

[2016-09-07 21:47] lachellel commented on #46
sent link @GSAllewell

Windows specific (puttyCAC)

for other interested parties, need the OpenSSH and Mac versions (specific to gov piv and cac).

[2016-09-08 13:41] dasgituser opened #57 "How to integrate an SCVP client into an agency relying party application"
This would be new -- not a conversion of an existing document.  Target audience is agency relying parties.  This playbook will describe how to integrate an SCVP client into an application to enable certificate validation services.

[2016-09-08 20:44] rt-smithee commented on #48
Historically equipment has tripped up on non-1024 multiple key sizes so 3072 is a bit exciting.  Note there is still stuff in the wild using 1024, I think we need to keep up the heat in reminding people that's too short a key now.  HSM's and other devices may get fussy as you increase past 2048 keys.  One would have to also confirm the gear is APL-listed if it uses bigger keys.  (There are things

[2016-09-08 20:49] rt-smithee commented on #49
This sounds like the key usage on the cert used for TLS client connections didnt' quite have the correct key usage fields.  IIRC RDP squawks like a TLS client.  Not all PIV certs are populated with a consistent set of certificate attributes (regardless of what the specs say.)   Some systems emit misleading messages so I would not immediately assume the key doesn't exist and/or the key container (c

[2016-09-08 20:51] rt-smithee commented on #53
Very useful tool.  Available in stock windows, no extra bits to install.  Note this will go out and hit the network for certificate status and such.  It also populates the card's certificates into the windows key store, so after you do a "certutil -scinfo" you can run MMC and  review the certificates.  Also works for TWIC cards.

[2016-09-08 20:57] lachellel opened #58 "common office automation migrations"
Agency requests for patterns for office automation migrations, including step by step for Office 365

- Reference #23 for sample explanation and two use cases
- PR #51 being pulled out into separate branch

Currently allowed scenario is:

1) Authentication happens on premise
2) Assume user outside the network (not VPN into network as is - the harder scenario)
3) federated to O365
4) settings for u

[2016-09-08 20:59] rt-smithee opened #59 "how to process the CHUID field on a PIV card"
this is a specific instance of "accessing information on a PIV credential" per the site.  I'm asking this from the view of an implementor developing code to process a CHUID.

Questions:
  how do you retrieve the CHUID (see e.g. piv-tool of opensc for example code.)
  what is the CHUID format
    where is TIG-SCEPACS
    do you use 2.2 or 2.3
    what about the dead link in SP800-73-4
  is the CHUI

[2016-09-08 21:05] lachellel commented on #49
@rt-smithee

This error is actually most common due to **driver** mismatches.  The driver on the client and the driver on the target being different versions, and this error gets emitted (completely misleading!!!)

Generally have found it happening with a commercial middleware / driver on one side, and a native OS driver on the other.

The _certutil scinfo_ is indeed the best first troubleshooting

[2016-09-08 21:07] rt-smithee commented on #58
I suggest this specifically include mandatory/optional/expected key usage, extended key usage, and subjectAltName fields in the user certificates.  Note that "Principal Name" is at least sort of a vendor-specific concept.

[2016-09-08 21:23] grandamp commented on #59
Here is "a" code sample: https://github.com/grandamp/KSJavaAPI/blob/master/src/org/keysupport/tests/CHUIDTest.java

Would an apdu log suffice, or, should it be a walk-though using an api or tool?

The CHUID format is not DER, but BER. The BER encodings are conveyed in the data model within 800-73-4.

[2016-09-08 21:50] rt-smithee commented on #59
I don't see what I'm looking for in that sample.  What's in the first byte?  why is it an 0x5E in my sample card and 0xEE in TIG-SCEPACS 2.3.  The data model isn't really in 800-73-4, that's part of the description-dragged-across-9-specs problem.  The actual format values seem to be in Figure 1 in TIG-SCEPACS 2.3.

[2016-09-08 22:35] grandamp commented on #59
Download:  https://github.com/grandamp/KSJavaAPI/raw/master/KSJavaAPI.jar

Execute: `java -jar KSJavaAPI.jar org.keysupport.tests.CHUIDTest`

Example output (TWIC), truncated:

[code]

[2016-09-09 13:56] GSAllewell commented on #49
@rt-smithee @lachellel - Hef concurs:
Cause :
There  is  a  problem  with  the  smart  card  driver.  The  problem  can  be  seen  when  trying  to  connect  with terminal server.
Solution:
Check using certutil -scinfo that the driver is installed on the server and on the client computer.

[2016-09-28 20:19] djpackham opened #62 "Useful PIV Tools"
#### Description of Issue: ####
Should we add a Useful Tools item to the navigation on PIV-Guides? If so, should the same tools show up on both FPKI-Guides and PIV-Guides?

#### Details of Issue: ####

#### References (Docs, Links, Files): ####
Just an idea of tools that could be listed on this page
- NIST 85B (800-73-4) Test Tool - http://csrc.nist.gov/groups/SNS/piv/npivp/sw-downloads.html
- PIT

[2016-10-18 13:51] rt-smithee opened #63 "pvicertchains -> federal pki infrastructure data"
#### Description of Issue:

pivcertchains contains the link http://fpki-graph.fpki-lab.gov/ to a graphical representation of the federal pki.  issue:  it's not text, it's not searchable.
#### Details of Issue:

when relying parties call on technical support teams inquiring about intermediate CA status it would be helpful if one could search for a given CA name in a text file or spreadsheet or some

[2016-10-19 11:10] weirdscience commented on #63
Reports in csv and html are available on https://fpki-graph.fpki-lab.gov/crawler/

[2016-11-18 17:56] lachellel opened #67 "Remove Approved Products List references"
#### Description of Issue: ####
Approved Products List categories for logical access, transparent card readers has been deprecated

#### Details of Issue: ####
Remove the reference - APL announcement references these guides (circular reference)

#### References (Docs, Links, Files): ####
https://www.idmanagement.gov/IDM/s/article_detail?link=fips-201-announce

#### Link to the Content Page for Con

[2016-11-22 21:39] jfredrickson5 opened #70 "Add this repository to the GSA code inventory"
*(I work in GSA IT, Office of the CTO. I am submitting this as part of our work to ensure GSA complies with the new Federal Source Code Policy.)*

GSA needs to create an inventory of all agency source code, whether open source or closed source. The inventory we create will appear on [Code.gov](https://code.gov/). The inventory will contain basic information about each source code repository, but w

[2016-11-25 15:13] rt-smithee commented on #70
There are very few examples in the wild of PIV processing code.  For example the "content signing" OID used in the CHUID signing cert essentially never appears on the public internet.  One might assume someone has actually coded some of this PIV stuff in the past within the government ;-)  I hope a code inventory helps future implementors identify when they can go look at existing samples to suppo

[2016-11-30 14:06] lachellel commented on #16
Registry Setting:

- [HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\services\kdc]
- "ChainWithIssuancePolicyOIDs"=dword:00000001

KDC Patch: the patch to correct the KDC not setting the certificate issuance policy when the KDC validates the smartcard certificate
  - http://support.microsoft.com/kb/2771254

Script to set the Certificate OIDs on the domain:

- [CertificateIssuanceOIDs.ps1.txt](https:/

[2016-12-18 21:05] lachellel commented on #70
closing

[2016-12-18 21:05] #70 closed, assigned to nobody

[2016-12-18 21:05] lachellel commented on #67
closing

[2016-12-18 21:05] #67 closed, assigned to nobody

[2016-12-22 18:59] lachellel commented on #50
patch link again....common question still:

- https://support.microsoft.com/en-us/kb/2831238

[2017-01-11 19:13] bkynaston opened #78 "Removal of PIV Card Behavior"
#### Description of Issue: ####
Discuss guidance and lessons learned for most effective behavior of workstations upon removal of PIV card from reader. Please reference attached draft guidance that resulted from a related Tiger Team within the federal Logical Access Working Group (LAWG).

#### Details of Issue: ####
If a policy of "must lock workstation behavior" upon card removal:
- Increased numb

[2017-01-11 20:22] lachellel commented on #78
@bkynaston

Great question, and I marked as FAQ - it's common.

- In April 2016, an update to the US Government Configuration Baseline was approved and finalized and published.  It covered the Smartcard Removal Behavior, specific to concerns raised by agencies in a gov writeup.  Snip from the announcement at the time:

[code]

This allows a choice to be made.  If you choice to not lock on smartcar

[2017-01-11 20:32] bkynaston commented on #78
Fantastic comment - and updates my attached guidance. Thanks Lachelle!!

[2017-02-13 21:37] lachellel opened #81 "Enable User Name Hints - 2012"
#### Description of Issue: ####
2008R2:

- Computer Configuration -> Policies-> Administrative Templates -> Windows Components, and then expand Smart Card.
- Select Allow user name hint

2012:
- Computer Configuration ->  Administrative Templates -> Windows Components, and then expand Smart Card.
- Select Allow user name hint

#### Details of Issue: ####
Note change in where...add to the list
piv-

[2017-02-24 20:22] Protiviti-JSargent opened #83 "PIV Guides Link update"
#### Description of Issue: ####
Updated link needed in the contribute.md file.

#### Details of Issue: ####
In the section titled "How to Build a New Guide", the playbook directs new contributors to an example playbook titled 'How do I PIV enable my network logon?' and provides a link to the following url to use as a guide and template for creating a new playbook: https://github.com/GSA/piv-guides

[2017-02-24 20:56] lachellel commented on #83
Agree, I removed all extraneous files when applying new style sheets and cleaning all the existing markdown and references.

Suggesting another approach:
- The entire Contributing needs to be rewritten.  It's wordy, and was pulled from the architecture git hub repo.

[2017-03-02 21:49] philipashlock opened #88 "Document Mac OS PIV tokend use and support"
I recently spent some time looking into getting my PIV card to work for web authentication with Mac OS Sierra (10.12.3) and seem to have got it working. As far as I can tell, I'm the first person to get this working within my office and now I'm wondering how to best document the process and get some other perspectives on the approach. I'd also like to go through the process with a few other people

[2017-03-02 22:32] lachellel commented on #88
It would go in here!

There have definitely been questions from across agencies and public on configurations.   Any easy walk through guides are welcome and appreciated.

I would suggest it as a page under User Guides; maybe even just a Mac section.  Nothing is set in stone and you can draft up any notes, submit a pull, and we'll merge them into staging and help iterate.

I've been "holding" on th

[2017-03-08 12:38] weirdscience commented on #48
Should this go under the FPKI guide?

[2017-03-08 17:30] weirdscience commented on #45
SIA is optional for FBCA certificates (FPKI Cert Profiles - https://www.idmanagement.gov/IDM/servlet/fileField?entityId=ka0t0000000TNS1AAO&field=File__Body__s). May be updated in the next certificate profile update.

I'm working on a CDP, AIA, OCSP, DN list of end entity issuing CAs. No easy way to do it at the moment besides manual collection from the affiliates. Let me know if other info or diff

[2017-03-23 19:51] djpackham opened #96 "Best Practices for Managing Workstations NOT Smart Card Enabled"
#### Description of Issue: ####
What are the best practices for local admins managing workstations that an agency "won't" smart card enable?

#### Details of Issue: ####
For some reason or another, an agency "won't" smart card enable a system. In that case, how should the local admins manage those workstations?

#### References (Docs, Links, Files): ####

#### If a New Page or Content is Needed, E

[2017-03-27 13:22] lachellel opened #97 "Network authentication configurations to accept all Govt PIV/CACs"
From hack the playbooks session

#### Description of Issue: ####

- How do I configure my <system> to accept any Govt User's PIV for Authentication
- Network is the **system**, not an internet facing web application.

#### Use case: ####
As an agency, I have other **government** users on detail or working in my agency through cross-collaboration on special programs.  These government users are pro

[2017-03-28 14:05] weirdscience commented on #8
Should this go under the FPKI Guide? There seems to be some bleed over between the two and it should be very clear. Should the FPKI Guide be added to the PIV guide or vice versa to make it simpler?

[2017-03-28 14:10] weirdscience opened #101 "Which FPKI Certs on a PIV Should be Used for What Purpose"
#### Description of Issue: ####
It is difficult to understand which certs should be used for which purpose. For example, which PIV cert should be used for client auth versus which should be used to sign stuff. How do I tell the difference and how do I make sure I am issued the correct certificates? What if I do not have the right certificate?

#### Details of Issue: ####
See above.

#### Reference

[2017-04-03 17:42] djpackham opened #102 "Windows 10 error when running certutil command"
#### Description of Issue: ####
While running the `certutil -verify -urlfetch mypiv_auth.cer` command to verify the revocation status of my PIV auth certificate, certutil is throwing the error:

- Using the same certificate and running the same certutil command on a Windows 7 workstation works fine.
- PIV login is working for Windows 10, so don't think there is any big issue using Windows 10, but

[2017-04-07 19:34] mttcpr2 commented on #102
You have to enable CAPI2 diagnostic logging to see what is happening. Open the Event Viewer, Applications and Services Logs, Microsoft, Windows, CAPI2. Right click Operational and Enable Log. Stepping through the events and examining the details should reveal the problem.

[2017-04-08 02:27] lachellel commented on #55
I think we fixed this - we changed all the contributing.

[2017-04-08 02:27] #55 closed, assigned to nobody

[2017-04-08 02:28] lachellel commented on #54
fixed. closing.
thanks rt

[2017-04-08 02:28] #54 closed, assigned to nobody

[2017-04-08 02:29] lachellel commented on #36
closing - middleware options covered (many options / choices)

[2017-04-08 02:29] #36 closed, assigned to DennisQCronyn

[2017-04-08 02:36] #48 closed, assigned to nobody

[2017-04-08 02:38] lachellel commented on #27
closing
PIV-I doc updated
FAQ replacement for piv-i in progress

[2017-04-08 02:38] #27 closed, assigned to nobody

[2017-04-08 16:46] rsgmodelworks opened #104 "SHA-1 References"
Page "Identifiers in a PIV Credential" references SHA-1

Perhaps should reference SHA-256 instead.

#### References (Docs, Links, Files): ####

#### If a New Page or Content is Needed, Expected Outcomes: ####

https://piv.idmanagement.gov/identifiers/

[2017-04-08 16:52] rsgmodelworks opened #105 "use of FIPS mode"
one should be using FIPS crypto on a platform used for PIV (e.g. that computer you'd run firefox on.)

perhaps it would be useful to document what you need to do to ensure the computer you're running on
is appropriately configured to support use of PIV-approved crypto.  (Vendors get mixed messages about whether this is common knowledge among govvies thus maybe it would be worthwhile to document it

[2017-04-09 18:09] lachellel commented on #104
That identifier is the Thumbprint.  It's a **computed** value (can be sha-1, md5, sha-256, etc) and not related to the signing algorithms associated with the certificate itself.

The SHA-1 Thumbprints (**computed** identifiers) are used in OCSP, querying against certificate stores in most operating systems, and account linking (as an option) for network authentication using MS AD.

Related to #47

[2017-04-11 20:39] lachellel commented on #18
@twbaldridge @paulSD

Would you happen to know where these settings moved to in Edge browser / Windows 10?

- HKEY_CURRENT_USER\Software\Microsoft\Internet Explorer\Main\FeatureControl
- HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Internet Explorer\Main\FeatureControl
- DWORD key of “FEATURE_CLIENTAUTHCERTFILTER

Inquiring minds want to know.  I'm looking in the registry and articles, but if you've run

[2017-04-12 05:06] PaulSD commented on #18
Sorry, no, I don't happen to know where these settings moved to.  We don't have direct control over any client endpoints, so we don't keep track of these settings.  We basically just assume that users are using the default settings, and attempt to handle incorrect cert selections as best we can.

I'm still hoping to some day convince the FPKI to change the KeyUsage value listed in the cert profile

[2017-04-14 17:04] lachellel commented on #101
- Not for all FPKI certificates - but specific to PIV:
- https://piv.idmanagement.gov/details/#understanding-piv-certificates

- might want to break out the [details](https://piv.idmanagement.gov/details/) into smaller chunks of information and side nav

- this is a compliance issue and generally the intended audience for this playbook isn't involved in compliance - they are trying to make somethi

[2017-04-14 17:13] rt-smithee commented on #101
IMO it should say "SHA-256" not "SHA-2" because SHA-2 is a hash family including e.g. SHA-384, SHA-512, SHA-224, etc.

[2017-04-14 17:16] lachellel commented on #96
@djpackham  did this come from the playbooks session?

In general, my thought is that **management of workstations** is a configuration management/vulnerability management/asset management set of activities that is very broad and we have best practices elsewhere in govt.

Do you have more info to share on the following:

- are these workstations joined to a govt network domain
- is it just worksta

[2017-04-14 17:27] #83 closed, assigned to nobody

[2017-04-14 17:28] #104 closed, assigned to nobody

[2017-04-14 17:37] lachellel commented on #46
@GSAllewell i removed some email addresses etc from the baseline writeup

This one is common and simple to migrate to a page.  raising the priority so we can clean up the verbiage, verify once more, and push it out.

[2017-04-14 17:39] lachellel commented on #45
let me close and we'll work on the fpki-guides on (and a _data construct to manage and display).

there are options to enhance or replace manual collection from affiliates; we can scan through artifacts from compliance audits and from trust monitor too.

[2017-04-14 17:40] #45 closed, assigned to nobody

[2017-04-14 17:44] djpackham commented on #96
I captured this question from Ross. I believe it was due to an agency in a mixed environment of PIV enabled systems and then a group of systems that for some reason or another would not be PIV enabled. I'll follow-up with Ross.

[2017-04-14 18:33] lachellel commented on #39
I'm going to backlog this.  It's policy specific.

[2017-04-14 18:34] #37 closed, assigned to nobody

[2017-04-25 22:56] lachellel commented on #88
4/25 workshop discussion and plays to be shared:
- Sierra OSX 10.12.3 and 10.12.4
- Native support / configurations needed for linking credentials to the local accounts
- Use of Enterprise Connect; NoMad (https://gitlab.com/Mactroll/NoMAD); and other options for network / kerb

[2017-04-27 18:39] rt-smithee commented on #59
Got it..  As you show in your sample code (PIVCardHolderUniqueID.java it includes all the CHUID fields except the signature and that includes the "check" value (tag FE.)  This means you have to assemble a buffer of the chuid fields minus the signature and hash that.

[2017-05-01 18:47] djpackham commented on #50
may be worth including the link to the United States Government Configuration Baseline (USGCB)
- https://usgcb.nist.gov/usgcb_content.html

[2017-05-01 18:51] djpackham commented on #81
Just to clarify, there is already 2008R2 configuration presently shown at

- https://github.com/GSA/piv-guides/blob/staging/_networkconfig/4_accounts.md

 Need to update with 2012 configuration as well.

[2017-05-01 19:15] djpackham opened #109 "How to install internal CA for generating domain controller certificate for PIV credential login"
#### Description of Issue: ####
Need to know how to install internal CA for generating a domain controller certificate for enabling PIV credential authentication

#### Details of Issue: ####
Convert the attached document into playbook format

#### References (Docs, Links, Files): ####

- [Generating and Installing Domain Controller Certificate.docx](https://github.com/GSA/piv-guides/files/968575/G

[2017-05-01 19:59] djpackham opened #110 "Anchor links varying behavior"
#### Description of Issue: ####
It seems that there may need to be an HTML / CSS edit to make the content display correctly when clicking on anchor links. It seems like the beginning of the content that is being referenced from the anchor link is getting caught behind the header of the page.

#### Details of Issue: ####
I am seeing varying results when I click on anchor links. If a do a hard refre

[2017-05-02 12:20] godadada commented on #46
@lachellel

I do not see putty/ssh files under piv-guides/pages directory. If one or more pages needed for ms/unix/mac ssh, do you have preference on the file names?

Thanks
Chunde

[2017-05-02 12:40] lachellel commented on #46
For now, let's draft it under developer guides for navigation (which we will rename):

- https://piv.idmanagement.gov/devconfig/
- this puts it in the _devconfig folder for a markdown file
- I started a placeholder and new branch (ssh) for you
- https://github.com/GSA/piv-guides/blob/ssh/_devconfig/ssh.md

We can always move it around.

[2017-05-02 14:35] godadada commented on #46
@lachellel

Please confirm my following approach is okay:
1. review/edit the ms version above, removing all the graphic;
2. review/edit NIH version of ssh on linux;
3. research or create and review/edit  ssh on Mac;

Thanks
Chunde

[2017-05-02 14:39] lachellel commented on #46
Yep.  I'd start with 1 first, iterate, push, ask for feedback.

Then highlight modifications for 3 in a separate section.

1 and 2 are very similar - both using windows (jump boxes or dev workstations) to ssh to *nix, with different tools.

[2017-05-02 17:09] godadada commented on #46
@lachellel

There are options on Mac version: SecureCRT, Putty-CAC for MAC, etc. Which one should be chosen?

[2017-05-03 11:50] godadada commented on #46
Mac version and Linux version should be similar, if not the same,  because MacOS is a flavor of Unix. But I do not have a way to test on a Mac for lack of platform.

[2017-05-03 14:10] omar-nmi-ahmed commented on #46
Paul,

Can you get us access to a Mac for testing of code for the playbooks?

Omar.

[2017-05-03 14:16] godadada commented on #46
A PIV card (certipath acess card can be substitute?), a card reader too.

[2017-05-03 15:03] godadada commented on #46
There may be securtiy issue in downloading executable from the Internet, e.g. Win putty-CAC leading to https://github.com/NoMoreFood/putty-cac/releases. I am not sure it is safe to suggest gov users to download it to their machines. A more controlled designated download site may be better, e.g. a site managed by GSA.

[2017-05-03 15:36] lachellel commented on #46
github is a versioned environment
executables can be signed
source code is available for review and local compiling and can be pulled in for code scanning

[2017-05-03 16:34] rt-smithee commented on #46
Linux and Mac will differ in that SSH implementations on Linux likely will leverage OpenSSL and PKCS-11 under that to access the PIV card.  I don't think Mac's do PKCS-11.  (I believe they speak "CDSA" at that level...?)

[2017-05-03 16:35] rt-smithee commented on #46
Also, there are several PIV card-equivalents available commercially.  Happy to share suggested vendor names if that's appropriate here...

[2017-05-03 16:43] godadada commented on #46
The non-Dod access to the github Putty-CAC softwere is not signed. We can create a signed version on github if  decided.

[2017-05-03 17:06] godadada commented on #46
@rt-smithee
Thanks for the input. I am primarily interested in the UI of the Putty-CAC on Mac. I need document the difference if there is any. I need also to make sure it works with PIV card in Mac.

[2017-05-03 17:41] rt-smithee commented on #46
Right and so all that stuff you find when you google "putty-cac" and it shows you dialog boxes to connect to CAPI/CNG or PKCS-11 do _not_ work for your use case.  Please, continue, definitely useful!

[2017-05-04 12:50] godadada commented on #46
I am looking into installing Mac OS on VM machine, keep fingers crossed.

[2017-05-04 12:53] lachellel commented on #46
From an iteration perspective, I'd do #1 first (windows), verify and push.

[2017-05-04 19:35] #81 closed, assigned to nobody

[2017-05-04 19:54] lachellel opened #113 "update top navigation with links to fpki"
#### Description of Issue: ####
very simple fpki playbook framework launching

#### Details of Issue: ####
update navigation

#### References (Docs, Links, Files): ####
https://fpki.idmanagement.gov

[2017-05-05 01:32] omar-nmi-ahmed opened #118 "Type of data for readme files in piv-guides repo."
#### Description of Issue: ####
do we want to put time sensitive data in readme files?

#### Details of Issue: ####
Usually, readme files contain information about bugs/issues for, say, software.  Since readers can see the issues list and the threads, it seems pointless to update the readme file with the state of issues or playbooks.

We could put long range issues in there but, again, the long ra

[2017-05-05 01:40] omar-nmi-ahmed opened #119 "Do we update descriptions of intro section for repos"
#### Description of Issue: ####
The content in the description sections seem fine.  Is there specific information that we should be adding?

#### Details of Issue: ####

#### References (Docs, Links, Files): ####

#### If a New Page or Content is Needed, Expected Outcomes: ####

#### Link to the Content Page for Contributors: ####

[2017-05-05 01:41] omar-nmi-ahmed opened #120 "Do we update the descriptions in the intro sections of the repos?"
#### Description of Issue: ####
The content in the description sections seem fine. Is there specific information that we should be adding?

#### Details of Issue: ####

#### References (Docs, Links, Files): ####

#### If a New Page or Content is Needed, Expected Outcomes: ####

#### Link to the Content Page for Contributors: ####

[2017-05-05 01:43] omar-nmi-ahmed commented on #120
duplicate issue.  close.

[2017-05-05 01:43] #120 closed, assigned to nobody

[2017-05-05 17:52] djpackham opened #121 "Login without entering username in hints field?"
#### Description of Issue: ####
When enabling username hints is there a way to set the non-privileged user accounts as default and leave the hints field blank? This seems to work if the UPN in AD and the UPN in the PIV authentication certificate match. However, for misconfigured UPNs either in AD or in the PIV auth cert, is there a way to set Windows to not match users by UPN when the system detec

[2017-05-08 15:21] godadada commented on #109
@lachellel @djpackham
This issue has been assigned to me by Chi for the week of 5/8. What is the priority level, please?

[2017-05-08 17:05] godadada commented on #46
Hello,

Here is what I found potential candidate software for Smartcard login to SSH from Mac:
PuTTYCAC: Windows, free, not viable
PuTTYSC: Win, free, not viable
SecureCRT: Win/Linux/Mac, not free
MacGPG:  Mac, free (example config: https://gpgtools.tenderapp.com/discussions/problems/12500-ssh-smartcard-authentication-with-macgpg)

I am pursuing and testing MacGPG. Let me know if you have any thin

[2017-05-08 17:12] lachellel commented on #46
i would stand down on this - let's discuss.

rodney's comments are spot on - it's not typically the client choice specifically, but the drivers and pkcs#11 configs.  I would focus on explaining that particularly piece and options, and the client tools become more of a table.

[2017-05-08 17:25] godadada commented on #46
Okay, I will put this one on hold for further decision.

FYI, MacGPG supports pkcs#11. testing may reveal if it is compatible with PIV card.

[2017-05-08 18:02] rt-smithee commented on #46
Downloaded PuTTY-CAC per instructions, it was signed with a proper code signing certificate (the 64 bit MSI file.)  Tried to use it with a test card using CAPI (CNG really) and it failed - claims SSH can't find a key with appropriate usage.  IMO I have pilot errors here and I'm working to clean up my test.  But... this concept you'd get an "appropriate usage" error might merit some documentation.

[2017-05-08 18:06] rt-smithee commented on #46
Just read the referenced "gpgtools support" path.  IMO that will use a pkcs-11 shim that is specifically tuned to interact with a GPG smartcard so as to implement the SSH relevant public key operations.  I would not expect that to work with PIV cards.  For PIV cards you need a PKCS-11 shim that knows how to interact with the various keys/certs on the card via the PIV applet.  The PKCS-11 shim insi

[2017-05-08 18:37] lachellel commented on #46
@rt-smithee  the stand down comment is not to you!  the pkcs11 comment was spot on and the real item that could use more explanation (in plainer language) so that engineers developing agency wide solutions for their IT users can understand the how and what.  I meant 'stand down on going down a specific vendor path without explaining easily what to look for'

[2017-05-09 13:39] godadada commented on #109
@lachellel @djpackham
The document has been converted to MD, see below. Need your decision if this one should be a separate document or merged to 2_domaincontrollers.md. I would think both document should be merged under the big title "Generating and Installing Domain Controller Certificate."

# Generating and Installing Domain Controller Certificate

_Accurate as of 3/17/2017 using Microsoft 2012

[2017-05-09 14:47] rt-smithee commented on #109
(nice doc.  no specific technical feedback.)

Is there an assumption all PIV-connected Windows servers are domain-attached?   (Some of us folks out here in vendor-land would prefer to start with stand-alone servers using PIV even if that's not a use case inside the government world.)

[2017-05-11 02:24] omar-nmi-ahmed commented on #119
jordan and lachelle
what do we want to do with the descriptions of repos?

the only thing I could come up with is really for the descriptions of the playbooks: who, what, where, when, why and how.

that doesn't apply too much for the repos.

any suggestions would be greatly appreciated.

again, i like the simplicity of what is there.

[2017-05-11 22:50] grandamp commented on #105
To add a few thoughts:

Crypto with PIV for RSA or ECC operations are handled by the card.  Ciphertext in, plaintext out, and vice versa.

For other operations such as digesting or random number generation, these are dependent on the platform, the middleware, and the software used.

I.e., Adobe warnings regarding SHA-1 due to dated middleware.

[2017-05-11 23:44] clstmbrly commented on #109
@lachellel @djpackham Is there a GSA branch other than Staging against which you would like the Pull Request submitted for this document?  Thought I should ask.  Thank you.

[2017-05-15 13:15] godadada commented on #46
I was able to access PIV card from Mac with following installations. Will test it against SSH server.
Install cackey:
http://cackey.rkeene.org/fossil/wiki?name=Downloads
Install opensc for MAC OS:
http://github.com/OpenSC/OpenSC/wiki
List pub keys on the inserted PIV:
ssh-keygen -D /usr/local/lib/pkcs11/cackey.dylib

[2017-05-15 13:23] godadada commented on #46
The listed keys do not look like from PIV. will look into it further.

[2017-05-18 18:33] lachellel opened #129 "update all links for idmanagement.gov"
#### Description of Issue: ####
grep for all links to idmanagement.gov
output to a link markdown for future tracking
update all links

#### Details of Issue: ####
migrated idmanagement on 5/11 and cross-links need to be updated

[2017-05-18 21:33] clstmbrly opened #130 "Consistency of Template.md pages"
#### Description of Issue: ####
The content contained in the Template.md pages (and their locations in the directory structures) is not consistent across the PIV-Guides, FPKI-Guides, and FICAM-Arch repos.

#### Details of Issue: ####
1.	The Template.md pages provide style and general instructions for those who need to write guides or information for the PIV-Guides, FPKI-Guides, and FICAM-Arch.
2.

[2017-05-18 22:15] #129 closed, assigned to lachellel

[2017-05-18 22:18] #119 closed, assigned to nobody

[2017-05-18 22:18] #118 closed, assigned to nobody

[2017-05-18 22:18] lachellel commented on #113
closed by #128

[2017-05-18 22:18] #113 closed, assigned to lachellel

[2017-05-18 22:19] #63 closed, assigned to nobody

[2017-05-22 20:12] lachellel commented on #88
#17

[2017-05-22 20:55] godadada commented on #88
Hey,
  Here is the document in draft for Mac/Linux SSH. We have tested both. It was combined because we were thinking this option. Please review in technical aspects, we are still making editorial and structural change.

Enable PIV for Secure Shell (SSH) to a UNIX-like system from a Linux or a Mac OS X computer

These procedures are intended for network and system administrators, or other IT profe

[2017-06-01 16:18] clstmbrly commented on #109
@lachellel @djpackham Question about formatting steps (procedures) in developer guides (domain controllers, ssh, etc.).  The PIV-Guides's website style for steps seems to be one unnumbered paragraph for each step + sub-bullets for sub-steps.  The developer guides' procedures are longer and more detailed than any on the website.  We have been numbering all steps (which are visually easier to follow

[2017-06-15 15:24] godadada opened #144 "Kramdown does not support nested"
#### Description of Issue: ####
ordered nested lists do not work

#### Details of Issue: ####
following nested lists does not work:

1. list item 1
     1. sub list item 1
      2. sub list item 2
2. list item 2

following nested lists does not work:

1. list item 1
     * sub list item 1
     * sub list item 2
2. list item 2
#### References (Docs, Links, Files): ####

#### If a New Page or Conten

[2017-06-15 15:30] godadada opened #145 "Need to change css file to make empty lines in Kramdown files"
#### Description of Issue: ####
Kramdown does not show needed empty line sometimes

#### Details of Issue: ####
Some of the playbooks, empty ssh-all.md, 2b_domaincontrollers.md, 2a_domaincontrollers.md
are crammed without needed empty lines between section. CSS file modification is needed to create the new lines.

#### References (Docs, Links, Files): ####
ssh-all.md, 2b_domaincontrollers.md, 2a_d

[2017-06-16 00:01] godadada commented on #16
What are the server version assumptions for the target Windows servers, e.g. Windows Svr 2008 R2 and above or Windows Svr 20012 and above?

Thanks
Chunde

[2017-06-16 02:29] godadada commented on #20
The following link seems to have detailed steps to resolve this issue:
    https://mbrownnyc.wordpress.com/2013/06/04/leverage-group-policy-to-manage-certificates-in-users-firefox-certificate-store/

It needs to be verified, tested on or modified for  Windows 64 bit systems

[2017-06-19 15:26] lachellel commented on #144
I'm fine with simplifying.  Using nested makes rendering on mobile (etc) difficult for users to read in some cases.

We simplified previous markdown to not use nested.  I don't think we need to use nested and can organize differently.

[2017-06-19 15:26] #144 closed, assigned to nobody

[2017-06-19 16:49] godadada commented on #20
usefull link for record keeping:

https://github.com/OpenSC/OpenSC/wiki/Installing-OpenSC-PKCS%2311-Module-in-Firefox,-Step-by-Step

[2017-06-19 19:30] djpackham opened #147 "Update sidebar navigation to remove index titles"
#### Description of Issue: ####
Remove index.md titles showing up in the sidenav

#### Details of Issue: ####

#### References (Docs, Links, Files): ####
- https://github.com/GSA/piv-guides/blob/staging/_includes/sidebar.html

#### If a New Page or Content is Needed, Expected Outcomes: ####

#### Link to the Content Page for Contributors: ####

[2017-06-20 18:18] lachellel commented on #20
I don't think this is related to opensc.  This was a question on the listserves in 2016:

https://listserv.gsa.gov/cgi-bin/wa.exe?A2=ICAM-COMMUNITY-TECH;b11ee856.1603

[2017-06-21 10:54] godadada commented on #20
@lachellel

I logged in to the linked site but got "unauthorized" response.

[2017-06-21 12:43] godadada commented on #16
Authentication Mechanism Assurance### • Authentication mechanism assurance is an added capability in### Windows Server 2008 R2 AD DS that you can use when the domain### functional level is set to Windows Server 2008 R2. When it is enabled,### authentication mechanism assurance adds an administrator-designated### global group membership to a user’s Kerberos token when the user’s### credentials are

[2017-06-21 20:24] godadada opened #148 "Playbook to configure Firefox and PIV login"
#### Description of Issue: ####

Need playbook to configure Firefox and use PIV to login certain web site.
#### Details of Issue: ####

#### References (Docs, Links, Files): ####
resources:
https://github.com/OpenSC/OpenSC/releases
https://github.com/OpenSC/OpenSC/wiki/Installing-OpenSC-PKCS%2311-Module-in-Firefox,-Step-by-Step
https://github.com/OpenSC/OpenSC/issues/1031

related issue:
https://g

[2017-06-23 17:10] godadada commented on #20
This link may help settle the issue of missing CN.

According to the link which reasoned from certificate standards like X509 etc, cert must have at least one of  cn or subjectAltName to be compliant. The said Entrust certs do not have CN, but I do not see subjectAltName neither, so they are not compliant. Also firefox is able to use subjectAltname if cn is not present.
https://groups.google.com/a

[2017-06-23 17:14] lachellel commented on #20
@godadada

- The CN and SAN discussion is for _serverAuth_ end entity certs.

 - The issue is on **intermediates** in federal pki and how some may not have CN, and loading those into nss when deploying into a federal enterprise as needed - for trust store management, building paths, etc.

[2017-07-03 17:45] lachellel commented on #147
reverted the PR and merge.
see notes in #152

[2017-07-07 00:18] godadada commented on #16
I need to decide where to put the script https://github.com/GSA/piv-guides/files/621976/CertificateIssuanceOIDs.ps1.txt in FICAM-scripts repo.

[2017-07-07 18:56] oscarso commented on #49
@lachellel
How do you know that it is caused by minidriver mismatch ? Is that documented somewhere in the Microsoft Smartcard Minidriver Spec ?  Thanks.  I am hitting the same issue, and I just need some proof from Microsoft docs.

-Oscar

[2017-07-08 17:18] godadada commented on #20
firefox CA cert install:
https://github.com/christian-korneck/firefox_add-certs

[2017-07-08 20:59] godadada commented on #20
NSS certutil.exe -n option specifies a nickname, which does not have to be cn. It could be any identifiable phrase associated with the cert, e.g. descriptive phrase for human reading convenience as long as it is distinct from other installed certs in the cert store. Therefore, some CA certs without CN in DN can still be installed into NSS cert store and works fine. I have tested following cases: i

[2017-07-13 17:30] godadada commented on #58
O365 smartcard, as part of two-factor, auth link, for recording: https://support.office.com/en-us/article/Plan-for-multi-factor-authentication-for-Office-365-Deployments-043807b2-21db-4d5c-b430-c8a6dee0e6ba

[2017-07-26 15:28] godadada commented on #101
https://ocio.nih.gov/Smartcard/Pages/Your-PIV-Certificates.aspx#TYPE

Types of Certificates on your PIV card
Your PIV card contains four types of digital certificates:
Authentication Certificate used to log you on to applications and computers.
This certificate usually has an -A after your name.
Encryption Certificate used to encrypted email messages send to you.
This certificate usually has an -E

[2017-07-26 16:01] godadada commented on #101
commited:
https://github.com/GSA/piv-guides/blob/piv-cert-typs/pages/piv-certificate-types.md

[2017-07-28 17:40] #50 closed, assigned to nobody

[2017-07-28 17:57] #109 closed, assigned to lachellel

[2017-07-28 17:58] lachellel commented on #130
files have been merged in this repo
Same files and changes can be applied to the other repos

[2017-08-02 16:05] clstmbrly commented on #130
Found CONTRIBUTING.md is in top level of Repo.  This is an older version of the new contribute files in the Pages folder and should be removed.  Would you like me to remove this file (if I have access to Staging)?

[2017-08-02 16:31] lachellel commented on #130
No - please do not remove.

The CONTRIBUTING.md is part of the github repo - when a user submits a pull request, that file is displayed and contains the _terms and conditions_ that they are agreeing to by submitting a change (agreeing to open source licensing, open community, no marketing, plain language, etc).

- https://help.github.com/articles/setting-guidelines-for-repository-contributors/

We

[2017-08-02 17:54] clstmbrly commented on #130
Understood.  Thanks very much.

[2017-08-03 17:22] clstmbrly commented on #130
“Open an Issue” is briefly described in **contribute.md**, but more details are given in **contribute_openissue.md**.
The **contribute_openissue.md** in the 3 Repos was last updated in March.
Do you want to keep this file?
The FPKI-Guides’ contribute_openissue.md is the best (most concise) version.
If you want to keep this file, recommend that I replicate the FPKI-Guides’ version to PIV-Guides and

[2017-08-03 17:29] lachellel commented on #130
+1
if you think the fpki contribute_openissue.md is better, replicate / overwrite the file in the other two.

[2017-08-03 17:30] clstmbrly commented on #130
Will do.  Thanks a bunch.

[2017-08-03 17:55] clstmbrly commented on #148
The Firefox write-up gives only 2 steps. These provide links to go elsewhere for the procedures.

Does this give the user enough detail or should it be expanded?

[2017-08-03 19:44] lachellel commented on #148
It doesn't give any context as-is.  We need to add the Govt / Federal context...why are you doing this?  What is being solved? When would you do this?  What is the underlying problem?

[2017-08-03 23:03] lachellel commented on #130
merged and pushed to site
closing
thank you

[2017-08-03 23:03] #130 closed, assigned to nobody

[2017-08-04 14:36] lachellel commented on #56
@djpackham

This is related to the script that pulls data from Applicant Report
Script in private ficam-scripts repo

[2017-08-07 14:36] indrajit-gsa commented on #148
Are we going to rely on an external link for instructions on this? Should we have alternate solutions?

[2017-08-09 21:18] clstmbrly commented on #16
Question about Certificate Policies referencing:  is it okay to refer to them in this "shorthand" way (below) for a Playbook and not spell out the full titles (as with more formal documents)?

* This Power Shell Script for the Federal Common and DoD Certificate Policies simplifies the Microsoft TechNet steps for the Windows Server 2012:

    https://github.com/GSA/piv-guides/files/621976/Certifica

[2017-08-11 03:12] indrajit-gsa commented on #148
@lachellel @djpackham
The new markdown is located here for review - https://github.com/GSA/piv-guides/blob/firefox/_userconfig/1_firefox.md
I also added an option on GFE that enables kerberos auth in Firefox, which is probably the case for many agencies.

[2017-08-11 13:13] clstmbrly commented on #148
BTW, this is a 1st draft of the rewritten Firefox write-up.  It hasn't been edited yet.

[2017-08-11 17:09] clstmbrly commented on #16
@lachellel @djpackham The AMA Playbook is ready for your review. Please let us know if you have comments and/or changes.  Thank you.

https://github.com/GSA/piv-guides/blob/auth-mech-assurance/_networkconfig/10_AMA.md

[2017-08-13 13:01] indrajit-gsa commented on #148
Based on the feedback, I removed the GFE option for kerberos authentication (SPNEGO).

[2017-08-14 14:51] godadada commented on #147
string concatenation issue resolved.

[2017-08-14 17:45] godadada commented on #147
This issue resolution is ready for review. All GSA repoes have this issue; need update rest sidebar too?

[2017-08-18 00:12] clstmbrly commented on #148
@lachellel @djpackham  I have 2 questions about the Playbook and would appreciate your direction/thoughts:
1)	I'm concerned that the linked steps [https://github.com/OpenSC/OpenSC/wiki] needed to download, install, and test OpenSC seem too technically advanced for a general user. To test the install, the user would need to know how to launch the OS command prompt and use the command language, as w

[2017-08-21 14:30] godadada commented on #147
Ready for GSA review.
https://github.com/GSA/piv-guides/blob/sidebar/_includes/sidebar.html

[2017-08-21 15:07] lachellel commented on #147
I think this works for now!  pulled and ran locally...
put in a pull request to staging?

[2017-08-23 17:28] clstmbrly commented on #46
@lachellel In a previous comment about SSH Playbook, you said "there is no navigation to help the reader find the information."  Just checking to ensure I understand correctly.  You would like a TOC added to each of the 4 major sections (OS sections and the "Configure UNIX-like Server" section) so the reader can jump to subsection topics?  (There is currently only a top-level TOC that links to the

[2017-08-30 16:24] godadada commented on #147
@lachellel @djpackham
I saw half dozen or so ficam-* repo's in github. I am not sure if I should add sidebar solution to them all. Please give me a list you like me to do it.

[2017-08-30 16:30] djpackham commented on #147
I'd go with [ficam-arch](https://www.github.com/gsa/ficam-arch) and [fpki-guides](https://www.github.com/gsa/fpki-guides)

[2017-08-30 16:48] godadada commented on #147
made pull requests.

On Wed, Aug 30, 2017 at 12:30 PM, Jordan Packham <notifications@github.com>
wrote:

--
Regards,
Chunde Shi

[2017-08-31 16:03] clstmbrly commented on #101
Putting on hold, per @lachellel on 8/29/2017.

[2017-09-05 19:42] indrajit-gsa commented on #16
@lachellel
Here are the policies in 3 categories that are recommended for logon via AMA. Appreciate your feedback. There is one DOD policy. Do we need treasury and Dept of State policies?

# Common
set-ADUG-CertIssOID 2.16.840.1.101.3.2.1.3.7 id-fpki-common-hardware
set-ADUG-CertIssOID 2.16.840.1.101.3.2.1.3.13 id-fpki-common-authentication
set-ADUG-CertIssOID 2.16.840.1.101.3.2.1.3.16 id-fpki-com

[2017-09-07 14:22] gmkbenjamin opened #184 "Disable UPN mapping on Server 2012 R2 for altSecurityIdentities approach"
#### Description of Issue: ####
Disabling UPN mapping instruction doesn't seem to work on Server 2012 R2

#### Details of Issue: ####
KDC: Windows Server 2012 R2
Client: Windows Server 2012 R2 (Same box)
Disabled UPN mapping using the reg key UseSubjectAltName
Enabled username hint
altSecurityIdentities configured to use Subject and RFC822

Certificate contains: Subject, RFC822, UPN
This doesn't w

[2017-09-15 01:30] indrajit-gsa commented on #16
This playbook will have a content with link to the script file. The ficam-scripts location has to be published as well. If not, is there any other place to host the scripts?

[2017-09-15 13:27] LarryHamid2 commented on #88
philipashlock,
I'd like to give this a shot.  I've sent a request to view the notes you made in Google Doc.
Larry

[2017-09-21 16:23] indrajit-gsa commented on #16
@clstmbrly Hi Celeste, I have updated these documents for this playbook in the auth-mech-assurance branch for your review. I added some context for when to use AMA for government purposes. The script has been updated with the list of policies that was reviewed with the team. Please review for editorial.

https://github.com/GSA/piv-guides/blob/auth-mech-assurance/_networkconfig/10_AMA.md
https://gi

[2017-10-04 21:05] lachellel commented on #148
fixed in #181 and #185

[2017-10-04 21:05] lachellel commented on #148
open new issues for additions and changes!

[2017-10-04 21:05] #148 closed, assigned to nobody

[2017-10-05 17:12] indrajit-gsa commented on #20
@lachellel

Based on our discussion yesterday, should I remove the first section where it applies for Firefox supporting Windows Certificate Store? Also was this intended for non-windows OS as well?

https://github.com/GSA/piv-guides/blob/nss/_userconfig/1_nss.md

[2017-10-12 15:39] indrajit-gsa commented on #46
@clstmbrly @lachellel
I have updated the write-up for SSH playbook and tested from Windows to 3 different Linux flavored servers. I also added 2 screenshots. I added some context for Mac OS versions and left the instructions for older versions for now which require a software for PIV/CAC. I removed login from *nix desktops for now. Please review.

The content link is - https://github.com/GSA/piv-g

[2017-10-12 17:33] clstmbrly commented on #46
@lachellel Is it more likely that an engineer will use a Mac, rather than a computer running another Linux-based OS (e.g., Debian, etc.)?

[2017-10-20 14:28] pdemro opened #187 "[Account Linking] Subject CN of recently issued PIV differs from Guidance"
#### Description of Issue: ####
Subject CN appears different from documented examples for NASA PIV.  I am using the following powershell to output the subject:
[code]

**Example from Documentation**:
C=US,O=U.S. Government,OU=Government Agency,CN=JANE DOE OID.0.9.2342.19200300.100.1.1=25001003151020

**Actual**: OID.0.9.2342.19200300.100.1.1=jgdoe + CN=John Doe (affiliate), OU=People, OU=NASA, O=U

[2017-10-20 22:10] clstmbrly commented on #46
@lachellel SSH is ready for your review:  [https://github.com/GSA/piv-guides/blob/ssh/_engineering/02_ssh.md](url).  Have a great weekend:-).

[2017-10-20 22:13] clstmbrly commented on #46
@lachellel There were some rendering issues with spacing, indention, and numbering that I couldn't resolve.

[2017-10-23 22:31] clstmbrly commented on #16
@lachellel AMA is ready for your review: [https://github.com/GSA/piv-guides/blob/auth-mech-assurance/_networkconfig/10_AMA.md](url).  Have a good evening:-).

[2017-10-26 17:17] lachellel opened #188 "Update jquery"
#### Description of Issue: ####
update jquery from 1.11.2 to 1.12.4

#### Details of Issue: ####
jquery used in the sidebar navigation
update assets and reference in scripts.html (_includes)

[2017-10-26 18:52] #188 closed, assigned to nobody

[2017-10-31 19:21] bob-fontana opened #195 "Firefox 56.0.2 (64-bit) documentation mismatch"
#### Description of Issue: ####
56.0.2 (64-bit) on Windows doesn't match the documentation and does not appear to support Firefox 56.0.2 on Windows 64-bit.
#### Details of Issue: ####
The documentation at [OpenSC's Wiki](https://github.com/OpenSC/OpenSC/wiki/Installing-OpenSC-PKCS%2311-Module-in-Firefox,-Step-by-Step) is out-of-date.  There are no longer tabs on the Options menu-- only 4 sidebar m

[2017-11-01 01:20] bob-fontana commented on #195
Updated OpenSC wiki.

[2017-11-01 01:21] #195 closed, assigned to nobody

[2017-11-01 12:47] bob-fontana commented on #102
Neither `c:\windows\syswow64\nss\certutil.exe` nor `c:\windows\system32\nss\certutil.exe` exist on my system.  I'm running Windows 10 and Firefox R56.  I am not sure whether previous versions of Firefox installed a `certutil.exe` into the `nss` folder.  I'm a contractor and do not have a GSA or Fed Windows installation, so the system I'm using may not match what the Feds have.

[2017-12-05 21:54] indrajit-gsa opened #201 "Redcloth vulnerability"
#### Description of Issue: ####
There is a [RedCloth vulnerability](https://github.com/GSA/piv-guides/network/dependencies#4223002) raised by Github based on the RedCloth version that is specified in the Gemfile.lock for this repo.

#### Details of Issue: ####
The redcloth dependency will need to be evaluated and compared to the other repositories. If the RedCloth dependency is removed, it seems t

[2018-01-12 17:34] milesgratz commented on #102
I stumbled upon this GitHub issue (I'm not familiar with GSA/piv-guides or this repo) while Googling this same ``CertUtil: -verify command FAILED: 0x80092004 (-2146885628 CRYPT_E_NOT_FOUND)`` error message. In my case, I was getting this error because I had a duplicate Root CA certificate in the Trusted Root Certification Authorities in Certificates - Local Computer (``CERTLM.msc``). No error mess

[2018-01-18 23:26] #46 closed, assigned to nobody

[2018-01-18 23:27] #147 closed, assigned to nobody

[2018-02-02 19:51] jcastle opened #202 "Add Help Wanted issues to Code.gov"
It looks like you have quite a few Help Wanted issues in your repo.  You can feature these on Code.gov and reach a larger audience by adding specific tags to your Help Wanted issues.

Here are the specifics - https://github.com/GSA/code-gov/blob/master/HelpWanted.md
And, an example - https://github.com/GSA/code-gov-web/issues/417

Let me know if you have questions,
Cheers!
Joe

[2018-03-16 20:12] djpackham opened #203 "Steps for Digital Signing in MS Word"
#### Description of Issue: ####
Received a request from an agency to provide guides for digitally signing with a PIV credential in MS Word.

#### Details of Issue: ####
- Provide procedures for digitally signing with a PIV credential in the supported versions of MS Word
- Supported versions include MS Word 2010+
- Need to research if digital signing with a PIV credential is possible using O365 clo

[2018-03-17 00:53] indrajit-gsa commented on #16
Adding the preview link for AMA write-up -- https://federalist-proxy.app.cloud.gov/preview/gsa/piv-guides/auth-mech-assurance/networkconfig/ama/

[2018-03-17 17:11] bnordgren opened #204 "Firefox page missing certificate installation"
#### Description of Issue: ####
Firefox page (https://github.com/GSA/piv-guides/blob/staging/_engineering/01_firefox.md) is missing the necessary step of importing all CA certs in the trust chain from the PIV to the root.

#### Details of Issue: ####
CA certificates need to be imported or Firefox won't use the PIV user certificate. Additionally, upon import, the certificate must be trusted to veri

[2018-03-21 20:06] indrajit-gsa commented on #203
@djpackham @clstmbrly -- I checked in the initial version of the user guide. It will build soon. Here is the preview link - https://federalist-proxy.app.cloud.gov/preview/gsa/piv-guides/203-signing/userguides/

[2018-03-29 22:54] indrajit-gsa opened #207 "Add Search Box To PIV Guides"
#### Description of Issue: ####
There is no search feature in the PIV Guides.

#### Details of Issue: ####
Add a search box to PIV Guides and post the data to search.usa.gov. The feature will be similar to the one provided at idmanagement.gov.

#### References (Docs, Links, Files): ####
Should be added to the navbar.html and it will be included in all pages. Possibly replace the "View this site's

[2018-05-04 18:37] clstmbrly commented on #203
@djpackham For tracking and possible updating, it seems we should have a different Issue for the **new** Digitally Signing for MS Word - OFR, since we have 2 separate Playbooks. We can close it as needed.  Okay to create?

[2018-05-09 16:16] ryancdickson commented on #20
Not sure where this stands currently, but I can (hopefully) help, if needed.

In the past, I've written bash scripts that import [N] number of certificates from a source directory into a target NSS DB via certutil. Nicknames for the add activity were derived by parsing the DNs of the certificates in the source directory. If this approach was used, administrators would just need to populate the sou

[2018-05-18 19:50] lachellel commented on #203
@djpackham is this one closed?

[2018-05-24 14:44] lachellel opened #212 "CSS: using the code tags isn't mobile friendly"
We should consider not using the code tags.  Not mobile friendly and doesn't show the scrolling.

[2018-06-06 17:30] clstmbrly commented on #203
This Issue is not closed.  OFR sent us new updates to the "Digitally Signing in MS Word for OFR" Playbook. Perhaps this should have been a separate Issue.  Started making updates on 6/6/2018.

[2018-06-27 19:12] acdha commented on #88
This has become substantially easier in High Sierra since support is now built-in and you no longer need OpenSC:

https://support.apple.com/en-us/HT208372

Basically now it's just two steps:
1. `ssh-keygen -D /usr/lib/ssh-keychain.dylib` to extract the public key in the right format
2. Add `PKCS11Provider=/usr/lib/ssh-keychain.dylib` to `~/.ssh/config` to offer keys from the smartcard

[2018-07-18 05:31] kasetty opened #223 "tree -accept"
#### Description of Issue: ####

#### Details of Issue: ####

#### References (Docs, Links, Files): ####

#### If a New Page or Content is Needed, Expected Outcomes: ####

#### Link to the Content Page for Contributors: ####

[2018-07-18 16:04] lachellel opened #224 "Update network retrieval and timeout settings for Microsoft domains"
#### Description of Issue: ####
The current tuning configs link to 2008 / Win 7

#### Details of Issue: ####
Needs to be verified and updated for 2016 + 10

#### Link to the Content Page for Contributors: ####
https://piv.idmanagement.gov/networkconfig/tuning/

[2018-07-18 16:04] #223 closed, assigned to nobody

[2018-08-08 10:20] msnaveen opened #229 "uilt -repairstore"
#### Description of Issue: ####

#### Details of Issue: ####

#### References (Docs, Links, Files): ####

#### If a New Page or Content is Needed, Expected Outcomes: ####

#### Link to the Content Page for Contributors: ####

[2018-08-09 14:21] lachellel commented on #16
authentication assurance was merged.  closing.

[2018-08-09 14:21] #16 closed, assigned to nobody

[2018-08-13 14:53] ryancdickson commented on #204
This comment is correct - PIV issuer needs to be imported to allow authentication.

Assigning to self.

[2018-09-11 16:51] clstmbrly commented on #204
The Firefox Playbook has been updated to include this information.  Published on 8/24/2018.  Closing this issue.

[2018-09-11 16:51] #204 closed, assigned to ryancdickson

[2018-09-11 19:09] clstmbrly commented on #101
This Issue is very similar to FPKI-Guides' Issue [#159](https://github.com/GSA/fpki-guides/issues/159), "Distinguishing between certs on a PIV." Combined request from FPKI-Guides' #159 with PIV-Guides' #101--more applicable location.  FPKI-Guides' #159 is now closed.
@ryancdickson

[2018-09-12 15:15] clstmbrly commented on #201
This issue was moved to "Done" on 3/21/2018.  Closing issue.
@djpackham - If you disagree, please let me know.
@ryancdickson

[2018-09-12 15:15] #201 closed, assigned to indrajit-gsa

[2018-09-12 15:42] clstmbrly commented on #203
The "Digitally Signing in MS Word for OFR" Playbook was published on 7/17/2018.

[2018-09-12 15:47] clstmbrly commented on #203
@djpackham Should we leave this issue open (PIV #201, Steps for Digitally Signing in MS Word) for possible future OFR updates, etc.?  Also, some items (e.g., O365, SHA-1) were not addressed in the two published Playbooks.

Alternatively, I could close this and open a new issue with just the remaining items. Thoughts?
@ryancdickson

[2018-09-14 19:36] clstmbrly commented on #229
Closing this issue in PIV-Guides.  A new issue can be opened if needed.

[2018-09-14 19:36] #229 closed, assigned to nobody

[2018-10-03 23:55] clstmbrly commented on #59
Originator questions appear to answered.  Close this issue?

[2018-10-04 22:33] clstmbrly commented on #78
Closing this Issue - appears resolved.

[2018-10-04 22:33] #78 closed, assigned to nobody

[2018-10-04 22:45] bkynaston commented on #78
Yes thank you!

--
Brent Kynaston
Solutions Architect
TriVir, LLC
c: 703-772-8689
e: bkynaston@trivir.com

www.trivir.com
www.idmunit.org

[2018-10-04 23:27] clstmbrly commented on #53
Closing this issue.  This information is now provided as part of the PIV Guides' _Useful Tools_ page.

- PIV Guides' [Useful Tools](https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2012-R2-and-2012/cc732443(v=ws.11)).  (Click on **Useful Tools** at sidebar nav.)
- This page also links to [Microsoft's Certutil article](https://docs.microsoft.com/en-us/previous-versio

[2018-10-04 23:27] #53 closed, assigned to nobody

[2018-10-10 18:03] clstmbrly commented on #38
This Issue relates directly to Issues #[41](https://github.com/GSA/piv-guides/issues/41), "User - Loss of PIV Card," and #[42](https://github.com/GSA/piv-guides/issues/42), "User - Forgotten PIV Card."

[2018-10-10 22:36] clstmbrly commented on #59
Closing this Issue.  It appears that the originator's questions were answered.

[2018-10-10 22:36] #59 closed, assigned to nobody

[2018-11-05 11:18] coolmary commented on #38
I really appreciate your business. I am grateful you have shared your information products and Services with me,have a wonderful,Holidays Cheers.

[2018-12-19 14:36] richtbenson opened #238 "Need script for AD to update EDIPI UPN field with PIV UPN"
#### Description of Issue: ####
Currently in need of a PowerShell script for Active Directory to update (read) current users EDIPI (10 digit@mil) UPN field with PIV UPN (16Digit@mil).

#### Details of Issue: ####
OPORD related NAVADMIN

#### References (Docs, Links, Files): ####

#### If a New Page or Content is Needed, Expected Outcomes: ####

#### Link to the Content Page for Contributors: ####

[2019-03-05 22:03] paultag opened #239 "Place to list libraries helpful to working with PIVs"
#### Description of Issue: ####

I've written a few libraries helpful to my use of PIV tokens and PIV-like tokens. Is there a good place to leave links to those libraries in case they're helpful to others?

#### References (Docs, Links, Files): ####

I've written a few libraries, for example. Here's some of the ones I find most helpful:

 - [Go extension to x509.Certificates](https://godoc.org/pau

[2019-03-05 22:04] paultag commented on #239
If there's no such place, I'm super happy to have this issue closed :+1:

[2019-03-12 01:35] paultag commented on #239
Seems like there's no good place for this; I'll close this issue.

[2019-03-12 01:46] lachellel commented on #239
Leave it open @paultag

It's a great point and was intended to be a page here.  If we leave the issue open, teams do find it in searches.  It will give us more time to create a new page and consolidate resource links.

[2019-03-13 18:43] weirdscience commented on #239
Other potential PKI tools
- [Boulder](https://github.com/letsencrypt/boulder), An ACME-based CA, written in Go.
- [R509](https://github.com/r509/r509), a Ruby gem built using OpenSSL

[2019-03-14 18:18] lachellel opened #240 "PIV credential graphic"
- Graphic for a PIV credential
- Update the reference on piv guides (optional)

Graphic attributed to:

- [U.S. Government Accountability Office](https://www.gao.gov/)
- Attribution to GAO for reuse is appreciated

![piv_credential](https://user-images.githubusercontent.com/6501821/54381367-f2c1bb00-4663-11e9-9894-aacbb1b5c952.png)

[2019-03-22 18:50] datocrats-org opened #241 "PIV code signing support"
#### Description of Issue: ####
When packaging MS Access databases (.accdb) and signing VBA modules in MS Access, Excel, and Word, I need the ability to "sign code" with a PIV certificate in order to improve user experience.  Users will be prompted with warnings at various stages such as copying tables from a local database to a network share via UNC link.

#### Details of Issue: ####
I tried each

[2019-03-22 19:09] lachellel commented on #241
@datocrats-org

We do not support code signing with your PIV certificates.  **Code signing** use cases explicitly should use a commercially sourced code signing certificate/key pair.

[2019-04-06 11:56] coolmary commented on #240
I really appreciate DHS for given me an Phone PIV with USA Jobs and Common Access Card to login with GSA GWAC, NIST 12 DOT HSPD 12 DOT NIST DISA FPRD PPIRS Ad-hoc DHHS Partners GitHub account

[2019-05-06 14:14] weirdscience commented on #207
In researching RSS feed, Federalist recommends using Search.gov. Search.gov integration may help create individual Atom feeds per page.

https://search.usa.gov/signup
https://federalist.18f.gov/documentation/search/

[2019-05-06 14:34] lachellel commented on #207
@weirdscience

I have search functionality in a branch already (https://github.com/GSA/piv-guides/tree/addsearch).

[2019-05-15 17:49] #207 closed, assigned to nobody

[2019-05-23 13:37] weirdscience opened #245 "How to Digitally Sign and Encrypt Email- Guide for Agency employees and contractors"
Copied from FPKI Guide. A user guide focused on cloud email. Cloud email because that is the technology direction.

Security/Manager Guide (?) - Alignment with 800-53 controls (?)
Engineer Guide - How to enable digitally signed and encrypted email in Office 365 and Gmail.
User Guide - How to sign and encrypt in email in Outlook for Web and Gmail / How to verify a digitally signed email.

Special C

[2019-05-23 13:42] paultag-gov commented on #239
I pushed a PAM module for PIV auth to Linux machines to my GitHub called [pam-piv](http://github.com/paultag/pam-piv) that understands some of the PIV particular fields (e.g. policies, etc)

[2019-06-26 21:50] cyberdude206 opened #246 "How to configure Windows web server to only accept PIV certificate"
I want to configure my website to allow users to *only* select the PIV certificate found on their CAC. Currently ActivClient will prompt the user to select either their email cert or their PIV cert.

Currently utilizing Win Server 2012R2, IIS 8.5

[2019-06-28 14:20] ryancdickson opened #247 "PIV for Red Hat Linux (from ICAM-COMMUNITY-TECH)"
#### Description of Issue: ####
A message was posted to the ICAM-COMMUNITY-TECH listserv related to PIV Authentication to Linux systems.

"Has anyone implemented PIV authentication for RedHat Linux using something other than PuTTY-CAC or WinSCP with Pageant? Does not necessarily have to be freeware, just looking for better options. Please email me back if so."

Conversation Highlights:
"I can send

[2019-06-28 14:42] lachellel commented on #247
@ryancdickson
Defense Manpower Data Center (DMDC) and Red Hat worked on functionality for smartcard authentication and integrated **identity management** too.   This work was presented at working group meetings, and we should reference the configuration guides and options.

[2019-07-01 16:07] ryancdickson opened #248 "update jQuery"
- Update jQuery to latest major release.

[2019-07-01 16:11] #248 closed, assigned to nobody

[2019-09-27 15:17] enckse opened #256 ""Linux" is not a good descriptor for where files will be when giving a location to find a ".so" module (firefox guide)"
#### Description of Issue: ####

"Linux" is not really a fair way to describe where the `pkcs11.so` will be or even what it will be named on the variety of Linux distributions that exist. For example, on debian, not only is `pkcs11.so` not the name (`opensc-pkcs11.so`) but it is not in `/usr/lib`. In ArchLinux it is in `/usr/lib` but once again is not named `pkcs11.so`. I, admittedly, don't know w

[2019-11-29 13:43] muhammadj517 opened #258 "How to configure authentication to office 365/Azure AD with on-prem AD using PIV (UPN identifier)"
#### Description of Issue: ####
How to link Active directory UPN# to Alt secure ID via a logon script or some other method.

#### Details of Issue: ####
the goal is to enable authentication from windows active directory using UPN# to link to Alt security ID

#### References (Docs, Links, Files): ####

#### If a New Page or Content is Needed, Expected Outcomes: ####

#### Link to the Content Page f

[2019-12-06 21:55] shawndwells commented on #247
Someone brought this thread up to me - figured I'd drop by with some links that may be helpful:

- "How do I configure sssd to authenticate users using a PIV smart card on RHEL7" at https://access.redhat.com/solutions/2620421

- "Chapter 23. Smart-card Authentication in Identity Management" from the RHEL Identity Management docs at https://access.redhat.com/documentation/en-us/red_hat_enterprise_l

[2019-12-06 22:35] pburris67 commented on #247
Thank you for these links — in fact, both look promising.

On Fri, Dec 6, 2019 at 16:55 Shawn Wells <notifications@github.com> wrote:

--
Peter H. Burris

[2019-12-20 19:50] lachellel opened #260 "Remove EOL versions (Windows 7 and 2008R2)"
#### Description of Issue: ####
https://github.com/GSA/piv-guides/blob/staging/_networkconfig/06_tuning.md

#### Details of Issue: ####
Update for new versions
We're all done with these old versions!

#### References (Docs, Links, Files): ####
https://github.com/GSA/piv-guides/blob/staging/_networkconfig/06_tuning.md

[2020-01-17 20:27] lachellel opened #261 "Remove issuance of domain controller certs"
#### Description of Issue: ####
piv-guides/_networkconfig/02_domaincontrollers.md

#### Details of Issue: ####
Very small number of agencies (by %) use the federal pki cas for domain controller certs
Our posture is to use only locally trusted (OLT)
Need to update to remove reference to fpki cas and replace with only locally trusted which may be agency operated or commercially sourced - but only lo

[2020-01-24 21:36] ryancdickson opened #265 "Add reference to FPKI-Guides PIV CAs and Agencies List"
Cross-reference the new FPKI-Guides "PIV CAs and Agencies List" to help agency system administrators configure systems and services for cross-government trust.

URL: https://fpki.idmanagement.gov/crls/pivcas/

[2020-02-04 22:40] dnesting-usa opened #266 "Add discussion for services that need cross-agency identities"
I would love to see some additional discussion and guidance for services that are intended to follow federal employees between agencies.

The basic concern, as far as I can see, is that if a person has multiple PIV cards, or transitions from one PIV card to another PIV card (which will happen with any transfer between agencies), there is no identifier that allows services to implicitly associate o

[2020-02-11 19:53] lachellel opened #267 ""EDIPI" Disclaimers and Explainers Needed"
#### Description of Issue: ####
Scenarios:
- Some civilian agencies have adopted the "EDIPI" nomenclature in their PIV credentialing
  - Notably: DHS
- EDIPI is just one Dept of Defense identifier number from DoD data repositories
- When the same nomenclature is used, there is a perception that the 10-digit value associated with PIV/CAC or similar are unique (as is) across all government.   Confli

[2020-03-04 15:38] lachellel opened #269 "Windows 2016 Server - NT hashes"
### Description of Issue: ####
Add Windows 2016 setting for group policies
https://piv.idmanagement.gov/networkconfig/grouppolicies/

Submitted by DoD colleagues.  Reference to STIGs below.

#### Details of Issue: ####
DISA STIG ID AD.0016 for Active Directory Domain states the following for Windows Server 2016:

"Windows Server 2016 includes a built-in feature for SCRIL hash rolling that will aut

[2020-07-22 20:58] Allisterc opened #273 "Digitital Signatures During pandemic."
#### Description of Issue: ####
My PIV card expired a few days ago and my building is current closed due to COVID-19.  I cannot get my certificate updated. Is there another option I can use to digitally sign word documents for submission to Federal Register.

#### Details of Issue: ####

#### References (Docs, Links, Files): ####

#### If a New Page or Content is Needed, Expected Outcomes: ####

#

[2020-07-27 13:34] ryancdickson commented on #273
Have you tried contacting the Office of the Federal Register's support team at ofrtechgroup@gpo.gov?

[2020-07-27 13:47] Allisterc commented on #273
I will give send them an email.  Thank you I could not locate any contact information on the website.

From: ryancdickson <notifications@github.com>
Sent: Monday, July 27, 2020 9:35 AM
To: GSA/piv-guides <piv-guides@noreply.github.com>
Cc: Creighton, Clinton (Federal) <CCreighton@eda.gov>; Author <author@noreply.github.com>
Subject: Re: [GSA/piv-guides] Digitital Signatures During pandemic. (#273)

[2020-11-18 22:47] lachellel opened #278 "Common Policy Root CA - new root, updates to PIV guides"
#### Description of Issue: ####
fpki.idmanagement.gov/common

#### Details of Issue: ####

Update URIs, root cert(s) hashes, and network instructions
These markdowns and sections need to be updated:

- https://piv.idmanagement.gov/pivcertchains/#certificate-chains
- https://piv.idmanagement.gov/pivcertchains/#download-root-and-intermediate-certificates
- https://piv.idmanagement.gov/networkconfig/

[2020-12-19 18:35] JohnWatson2936 opened #279 "1st attempt"
#### Description of Issue: ####
My first attempt 😂

#### Details of Issue: ####

#### References (Docs, Links, Files): ####

#### If a New Page or Content is Needed, Expected Outcomes: ####
☠

#### Link to the Content Page for Contributors: ####
♠️

[2020-12-22 21:30] idmken commented on #20
This seems specific to PIV auth on Firefox which is addressed here https://piv.idmanagement.gov/engineering/firefox/

[2020-12-22 21:30] #20 closed, assigned to nobody

[2020-12-29 15:39] idmken commented on #8
FPKI Graph does this - https://fpki.idmanagement.gov/tools/fpkigraph/

Maybe open a new issue if there is interest in scripts run locally.

Also references on this page = https://piv.idmanagement.gov/pivcertchains/

[2020-12-29 15:39] #8 closed

[2020-12-29 15:45] idmken commented on #279
looks good, thanks @JohnWatson2936 !

[2020-12-29 15:45] #279 closed, assigned to nobody

[2020-12-29 16:04] idmken commented on #260
EOL
Server 2008 (Extended - Jan 2020)
Server 2012 (Oct 2018 - Extended 2023)
Server 2016 (Jan 2022 - Extended 2027)
Server 2019 (Jan 2024 - Extended 2029)

[2020-12-29 16:26] idmken commented on #203
Published here - https://piv.idmanagement.gov/userguides/signworddoc/

and here - https://piv.idmanagement.gov/userguides/signworddoc-ofr/

[2020-12-29 16:26] #203 closed, assigned to clstmbrly, indrajit-gsa

[2021-01-14 20:15] ryancdickson commented on #278
Addressed in #280 - merged into staging, will be included in next push to Federalist.

[2021-01-14 20:15] #278 closed, assigned to nobody

[2021-01-14 20:16] ryancdickson commented on #273
Closing issue.

[2021-01-14 20:16] #273 closed, assigned to nobody

[2021-01-14 20:23] #260 closed, assigned to nobody

[2021-01-14 20:30] sarahdobson commented on #240
Will update graphic with the new consolidated Playbooks site.

[2021-01-14 20:31] ryancdickson commented on #42
Overcome by events (FAQ no longer exists). This would by agency specific.

[2021-01-14 20:31] #42 closed, assigned to DennisQCronyn

[2021-01-14 20:32] #241 closed, assigned to nobody

[2021-01-14 20:35] ryancdickson commented on #184
Closing issues. Instructions posted on site have been confirmed to work with modern versions of Windows Server.

[2021-01-14 20:35] #184 closed, assigned to nobody

[2021-02-02 17:19] #265 closed, assigned to ryancdickson, idmken

[2021-02-02 17:19] #261 closed, assigned to idmken

[2021-03-10 14:35] vinuthomas813 opened #287 "Broken link in PIV Usage Guides page"
#### Description of Issue: ####
When I go to https://piv.idmanagement.gov/identifiers/ and click on the link in "Legacy definition and usage was to support building access control systems as outlined in this document," I get a 404

#### Details of Issue: ####
This text is in the "Considerations" for the "Identifiers" of "Federal Agency Smartcard Number (FASC-N)" - "this document" is a link that po

[2021-03-10 14:41] idmken commented on #287
Thank you! @ryancdickson is this the latest version? I found a v2.3 on our share drive.

[2021-03-12 16:58] chuckmilam opened #288 "Check out "WinCrypt SSH Agent" project for Windows PIV/CAC"
#### Description of Issue: ####
[WinCrypt SSH Agent](https://github.com/buptczq/WinCryptSSHAgent) looks like a promising option for SSH authentication by CAC/PIV users.  If it tests out well, it may be worth mentioning in the Windows section of the [Engineering Guides - Enable SSH](https://piv.idmanagement.gov/engineering/ssh/) as others may not be aware of this project's existence.

#### Details

[2021-03-22 17:17] maxwellfunk commented on #287
This issue has been addressed in the new version of the playbooks repository and TIG-SCEPACS v2.3 is the updated version being referenced on the new site.

[2021-03-22 17:17] #287 closed, assigned to nobody

[2021-03-22 17:28] maxwellfunk commented on #266
Migrating issue to new playbook repository.  This topic may be more appropriate for a stand alone guide on personnel who join/move/leave an organization.

[2021-03-22 17:34] maxwellfunk commented on #258
We do currently have instructions for AD authentication with both UPN and AltSecIDs at the following page (assuming this is primarily for on-prem directories):
https://piv.idmanagement.gov/networkconfig/accounts/

Assume you would like guidance integrating cloud directories with on-prem.  Cloud identity infrastructure is a potential topic for a future playbook.

[2021-03-22 17:44] maxwellfunk commented on #246
Most major browsers populate a credential tile selection screen based off of acceptable key usage (KU) fields and enhanced key usage (EKU) fields.  If digital signature is found in the KU and the client authentication or smart card authentication are found in the EKU then they will be included in the certificate tile selection screen.

This might be more appropriately addressed by working with you

[2021-03-22 17:44] #246 closed, assigned to nobody

[2021-03-22 17:51] maxwellfunk commented on #240
Closed per upcoming playbook PIV guide migration.

[2021-03-22 17:51] #240 closed, assigned to idmken

[2021-03-22 17:54] maxwellfunk commented on #239
marking as a dependency based on site scope conversations.

[2021-03-22 17:59] maxwellfunk commented on #238
Closing as this is more of a DoD specific issue.  For context the first 10 digits of the UPN of a CAC authentication certificate is the internal EDIPI.

[2021-03-22 17:59] #238 closed, assigned to nobody

[2021-03-22 18:20] maxwellfunk commented on #224
The tuning instructions were specific to CRL processing times for 2008, that section has since been removed now that it is no longer within its support lifetime.

[2021-03-22 18:20] #224 closed, assigned to nobody

[2021-03-22 18:41] maxwellfunk commented on #187
1. User name or CN should be unique to an internal issuing agency, but there is no guarantee that there are not external collisions
2. yes
3. EDIPI is in several certificate fields to include Subject alternative name as a prefix to a UPN, this is similar to FASC-N or UUID for PIV holders.

[2021-03-22 18:41] #187 closed, assigned to nobody

[2021-03-22 18:52] maxwellfunk commented on #145
closing prior to migration to new playbooks site.

[2021-03-22 18:52] #145 closed, assigned to lachellel

[2021-03-22 18:59] maxwellfunk commented on #121
Name mapping the admins account (e.g., 123456789-ADM) in AD and leaving the standard user account name mapping blank will facilitate this functionality.

[2021-03-22 18:59] #121 closed, assigned to nobody

[2021-03-22 19:01] maxwellfunk commented on #110
closing, works properly on new playbooks site as well as the old; currently it moves you down to the top of each clickable header.

[2021-03-22 19:01] #110 closed, assigned to nobody

[2021-03-22 19:03] maxwellfunk commented on #105
closing issue; all affected crypto functions are handled on card given all documentation associated with PIV user guides.

[2021-03-22 19:03] #105 closed, assigned to nobody

[2021-03-22 19:09] maxwellfunk commented on #102
verify that this command is working fine on a windows 10 machine with exported GSA PIV auth certificate.  Note that exported format may impact errors seen.

[2021-03-22 19:09] #102 closed, assigned to nobody

[2021-03-22 19:14] maxwellfunk commented on #101
due to lack of consistency across all PIV issuers in adding suffixes to the common names (-A, -E, -S) the only way to distinguish certs by profile is a combination of KU and EKU which is accounted or in the table of the following page:
https://piv.idmanagement.gov/details/#understanding-piv-certificates

[2021-03-22 19:14] #101 closed, assigned to nobody

[2021-03-22 19:22] maxwellfunk commented on #96
Closing due to lack of scope; local policy will dictate what authentication and authorization mechanisms are needed for certain devices on a given network.

[2021-03-22 19:22] #96 closed, assigned to nobody

[2021-03-22 19:26] maxwellfunk commented on #88
Migrating issue to update playbooks repository.  Some instructions are available for loading a security device (PIV for firefox), but not mention of updating a MACos keystore.

Might want MAC instructions on
https://piv.idmanagement.gov/networkconfig/trustedroots/

[2021-03-22 19:33] maxwellfunk commented on #258
essentially a duplicate of issue #58

[2021-03-22 19:33] maxwellfunk commented on #58
Duplicate to issue #258

[2021-03-22 19:34] maxwellfunk commented on #258
closing after referenced in #58

[2021-03-22 19:34] #258 closed, assigned to nobody

[2021-03-22 19:40] maxwellfunk commented on #56
This could be extended to exports of certificate reports from CAs outside of a CMS.  Would need to document/survey other participating agencies to determine their workflows.

Do they create the AD account or email address first and then populate a CMS or other certificate application or vice versa?

[2021-03-22 19:40] #56 closed, assigned to nobody

[2021-03-22 19:42] maxwellfunk commented on #49
Please reopen if issue is re-discovered with Win server 2016

[2021-03-22 19:42] #49 closed, assigned to nobody

[2021-03-22 19:47] maxwellfunk commented on #47
the account linking identifiers are specific options to AD altsecid mapping, so there is not a 1:1 mapping with the general identifiers.   Engineers should be referencing more detailed specifications (e.g. 800-73) if they will be leveraging or concatenating unique identifiers.

[2021-03-22 19:47] #47 closed, assigned to nobody

[2021-03-22 20:11] maxwellfunk commented on #41
Instructions for how to deal with lost cards should be included in the PKI subscriber agreement or in localized user security training.

[2021-03-22 20:11] #41 closed, assigned to DennisQCronyn

[2021-03-22 20:13] maxwellfunk commented on #40
Closing due to updated policy and guidance such as SP 800-37, SP 800-53, M-19-17 and the newer Digital Identity Risk Assessment (DIRA) playbook.

Identification and authentications solutions should be based on risk assessments associated with the information being accessed.

[2021-03-22 20:13] #40 closed, assigned to djpackham

[2021-03-22 20:15] maxwellfunk commented on #39
Concur this is policy specific and driven by local risk determinations.  Closing as this is a bit out of scope for PIV guides specifically.

[2021-03-22 20:15] #39 closed, assigned to nobody

[2021-03-22 20:16] maxwellfunk commented on #38
local policy and risk determination based, closing.

[2021-03-22 20:16] #38 closed, assigned to nobody

[2021-03-22 20:20] maxwellfunk commented on #24
closing as it is related to #57.  Would need to not only include guidance on configuration of OCSP and SCVP solutions, would also need to provide guidance for relying parties.

[2021-03-22 20:20] #24 closed, assigned to nobody

[2021-03-22 20:24] maxwellfunk commented on #25
Ran across the same issue using a PIV with Outlook after having VPNed into a government network.  Ended being prompted for PIN several times, never locked the PIV.  No longer a very common issue since migration to cloud email solutions, and not a known issue for office 2016.

[2021-03-22 20:24] #25 closed, assigned to nobody

[2021-03-22 20:36] maxwellfunk commented on #18
As bots and other automated solutions become prevalent it will still be necessary for them to express KU of digital signature and EKU of client authentication in order to be presented with a credential tile selection screen when accessing certain mutual TLS enabled web applications.

Most recent profiles do still allow client auth in the signature certificate EKU, but I think that would be the mos

[2021-03-22 20:36] #18 closed, assigned to nobody

[2021-03-22 20:42] maxwellfunk commented on #88
closing due to relation to issue #17

[2021-03-22 20:42] #88 closed, assigned to nobody

[2021-03-29 14:01] ryancdickson commented on #102
The issue (bug) was corrected by Microsoft in 2019 - more information included in https://support.microsoft.com/en-us/topic/june-18-2019-kb4503294-os-build-14393-3053-abcd70b9-7271-b243-c41d-a00295976bde